doctype html
html(lang='ru')
  include pug/head
  body
    // The structure of the html document
    include pug/header
    include pug/footer

    // Load Your Scripts
    link(rel='stylesheet', href='css/libs.css')
    script(src='js/common.js')
